.hidden-drawer{
    width: 0;
}

.anim{
    top: 0;
    right:0;
}

.shown-drawer{
    width: 60%;
}

/*@supports (transition:initial) {
    .anim {
        transition: width 0.5s ease-in-out;
    }
}*/

.hidden-avatar-check{
    opacity: 0;
}

.hidden-avatar-check:checked + img{
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.select>li{
    
}

@supports not (backdrop-filter: blur()) {
    #drawer{
        opacity: 0.9;
        --tw-bg-opacity: 0.99
    }

    .hidden-avatar-check:checked + img{
        box-shadow: 0 0 0 3px rgba(242, 159, 5, 0.5);
        opacity: 1;
    }
}

@supports (backdrop-filter: blur()) {
    .drawer-input{
        background-color: rgba(255, 255, 255, 0.5);
        color: rgb(62, 62, 62);
    }
}