@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap');

h1 {
    font-family: 'Big Shoulders Stencil Display', cursive;
}

body {
    margin: 0;
    background-image: url("img/bg.jpg");
    background-size: cover;
}

#newButton {
    background-image: linear-gradient(to right, rgba(4, 196, 217, 0.7), rgba(242, 203, 5, 0.7), rgba(4, 276, 217, 0.7), rgba(242, 159, 5, 0.7));
    background-size: 300% 100%;
}

#newButton:hover {
    background-position: 100% 0;
}

/*
@supports (transition:initial) {
  #newButton:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
  }
}
*/

#closeDrawer {
    width: 30px;
    height: 30px;
}

#newIcon {
    width: 20px;
    height: 20px;
}